@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Azonix';
    src: url('../assets/fonts/Azonix.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.stroke-text {
    -webkit-text-stroke: 1px rgb(209, 213, 219);
    color: transparent;
    transition: color 0.2s ease-in-out;
}

.stroke-text:hover {
    color: rgb(209, 213, 219);
}

.open .line1 {
    transform: rotate(45deg) translate(5px, 10px);
}

.open .line2 {
    opacity: 0; /* Hides the middle line */
}

.open .line3 {
    transform: rotate(-45deg) translate(5px, -10px);
}

#sync-btn:hover #sync-icon {
    opacity: 0;
}

#sync-btn:hover #sync-icon-hover {
    opacity: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 1s linear infinite;
}

.hexagon {
    width: 120px;
    height: 103.923px;
    background-color: #70c17536;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: background-color 0.3s ease;
}

.hexagon:hover {
    background-color: #70c175;
}

.hexagon-inner {
    width: 115px;
    height: 99.5929px;
    background-color: #030712;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#track-btn:hover #track-icon {
    opacity: 0;
}

#track-btn:hover #track-icon-hover {
    opacity: 1;
}

#groups-btn:hover #grouped-tabs-icon {
    opacity: 0;
}

#groups-btn:hover #grouped-tabs-hover {
    opacity: 1;
}

#standalone-btn:hover #standalone-tabs-icon {
    opacity: 0;
}

#standalone-btn:hover #standalone-tabs-hover {
    opacity: 1;
}

#downloads-btn:hover #downloads-icon {
    opacity: 0;
}

#downloads-btn:hover #downloads-icon-hover {
    opacity: 1;
}

#history-btn:hover #history-icon {
    opacity: 0;
}

#history-btn:hover #history-icon-hover {
    opacity: 1;
}

#bookmarks-btn:hover #bookmarks-icon {
    opacity: 0;
}

#bookmarks-btn:hover #bookmarks-icon-hover {
    opacity: 1;
}

#settings-btn:hover #settings-icon {
    opacity: 0;
}

#settings-btn:hover #settings-icon-hover {
    opacity: 1;
}